@use "../abstracts/variables"   as vars;
@use "../abstracts/mixins" as mix;
@use "sass:color";
.dog_breed {
  padding: 0;
 

  .breed_container {
      max-width: 1166px;
      margin: 0 auto;
      height: auto;
      gap: 2rem;
     
  }

  .breed_heading {
      text-align: center;
      font-size: 2.5rem;
      color: vars.$text-dark;
      margin-bottom: 1rem;
  }

  .breed_text {
      text-align: center;
      color: color.adjust(vars.$text-dark, $lightness: 20%);
      font-size: 1.1rem;
      margin-bottom: 3rem;
  }

  .breed_grid {
      display: grid;
      height: 178px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      justify-items: end;
      gap: -5rem;

      @include mix.respond-to(768px) {
          grid-template-columns: repeat(7,minmax(100px, 1fr));
          gap: 0;
      }
  

  .breed_card {
    display: flex; // Use flexbox for better alignment
    justify-content: center; // Center content horizontally
    align-items: center; // Center content vertically
    width: 100px; // Fixed width for each card
    height: 100px; 
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 0; 

      &:hover {
          transform: translateY(-5px);
      }

      img {
          width: 100%;
          height: auto;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 0;
          

          @include mix.respond-to(768px) {
              width: 120px;
              height: 120px;
          }
      }

      p {
          color: vars.$text-dark;
          font-size: 0.9rem;
          font-weight: 500;
          margin-top: 0.5rem;

          @include mix.respond-to(768px) {
              font-size: 1rem;
          }
      }
  }
}
}


