body {
    font-family: Arial, sans-serif;
    color: $text-dark;
    background-color: $background-color;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  h1 {
    font-size: 2.5rem;
    @include respond-to($breakpoint-medium) {
    font-size: 3.5rem;
    }
}
  